<!DOCTYPE html>
<html>
<head>
    <title>Добавить новость</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Добавить новость</h1>
    <form method="post">
      <label for="title">Заголовок:</label>
      <input type="text" id="title" name="title">
      <label for="text">Текст:</label>
      <input type="text" id="text" name="text">
      <label for="image_url">URL изображения:</label>
      <input type="text" id="image_url" name="image_url">
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password">
    <button type="submit">Отправить</button>       
    <a href="/"><button>Вернутся на титульную страницу</button></a>
    </form>
</body>
</html>
