<!DOCTYPE html>
<html>
<head>
    <title>Титульная страница</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Вы попали на страницу администратора</h1>
    <h2>Здесь вы можете создавать и удалять статьи</h2>
    <div class="buttons">
        <a href="/form"><button>Обратная связь</button></a>
        <a href="/admin_news_list"><button>Список новостей</button></a>
        <a href="/add_news"><button>Добавить новость</button></a>
        <a href="/"><button>Вернутся на титульную страницу</button></a>
    </div>
</body>
</html>
