<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Детали</title>
</head>
<body>
    <h1><b>{{ article.title }}</b></h1>
    <p><b>Дата: {{ article.date.date() }}</b></p>
    {% if article.image_url %}
        <!-- Отображаем изображение по указанной ссылке image_url -->
        <img src="{{ article.image_url }}" alt="Изображение">
    {% endif %}
    <p>{{ article.text }}</p>
    <a href="/news/{{ article.id }}/delete">Удалить</a>
    <a href="/"><button>Вернуться на титульную страницу</button></a>
</body>
</html>
